<!DOCTYPE html>
<head>
	<title>开发者注册</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="../static/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
	<link href="../static/css/templatemo_style.css" rel="stylesheet" type="text/css">	
</head>
<body class="templatemo-bg-gray">
	<h1 class="margin-bottom-15">注册成为BIGFACE开发者</h1>
	<div class="container">
		<div class="col-md-12">
			<form class="form-horizontal templatemo-create-account templatemo-container" role="form" action="#" method="post">
				<div class="form-inner">
					<div class="form-group">
			          <div class="col-md-6">		          	
			            <label for="name" class="control-label">姓名</label>
			            <input type="text" class="form-control" name="realname" id="name" placeholder="">		            		            		            
			          </div>  
			          <div class="col-md-6">		          	
			            <label for="phonenum" class="control-label">电话号码</label>
			            <input type="text" class="form-control" name="telephonenum" id="phonenum" placeholder="">		            		            		            
			          </div>
			        </div>
			        <div class="form-group">
			          <div class="col-md-6">		          	
			            <label for="email" class="control-label">邮箱地址</label>
			            <input type="email" class="form-control" name="emailaddr" id="email" placeholder="">		            		            		            
			          </div>
					  <div class="col-md-6">		          	
			            <label for="ID" class="control-label">身份证号码</label>
			            <input type="text" class="form-control" name="SFZ" id="ID" placeholder="">		            		            		            
			          </div>
			        </div>			
			        <div class="form-group">
			          <div class="col-md-6">		          	
			            <label for="username" class="control-label">用户名</label>
			            <input type="text" class="form-control" name="username" id="username" placeholder="">		            		            		            
			          </div>
			          <div class="col-md-6 templatemo-radio-group">
			          	<label class="radio-inline">
		          			<input type="radio" name="optionsRadios" id="optionsRadios1" value="male"> 男
		          		</label>
		          		<label class="radio-inline">
		          			<input type="radio" name="optionsRadios" id="optionsRadios2" value="female"> 女
		          		</label>
			          </div>
			        </div>
			        <div class="form-group">
			          <div class="col-md-6">
			            <label for="password" class="control-label">密码</label>
			            <input type="password" class="form-control" name="password" id="password" placeholder="">
			          </div>
			          <div class="col-md-6">
			            <label for="password" class="control-label">再次输入密码</label>
			            <input type="password" class="form-control" id="password_confirm" name="password_confirm" placeholder="">
			          </div>
			        </div>
			        <div class="form-group">
			          <div class="col-md-12">
			            <label><input type="checkbox">我同意<a href="javascript:;" data-toggle="modal" data-target="#templatemo_modal">BigFace的隐私条款</a></label>
			          </div>
			        </div>
			        <div class="form-group">
			          <div class="col-md-12">
			            <input type="submit" value="成为开发者" class="btn btn-info">
			            <a href="/login" class="pull-right">登录开发者中心</a>
			          </div>
			        </div>	
				</div>				    	
		      </form>		      
		</div>
	</div>
	<div class="modal fade" id="templatemo_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
	        <h4 class="modal-title" id="myModalLabel">BIGFACE隐私条款</h4>
	      </div>
	      <div class="modal-body">
	      	<p>1、服务条款的确认和接纳<br>
　　        本网站及APP的各项内容和服务的所有权归本公司拥有。用户在接受本服务之前，             请务必仔细阅读本条款。用户使用服务，或通过完成注册程序，表示用户接受所             有服务条款。</p>
	        <p>2、用户同意：<br>
　　       (1) 提供及时、详尽及准确的个人资料。<br>
　　       (2) 不断更新注册资料、符合及时、详尽、准确的要求。<br>
　　       如果用户提供的资料不准确，本网站有结束服务的权利。<br>
　　       本网站及APP将不公开用户的姓名、地址、电子邮箱、帐号和电话号码等信息（请            阅隐私保护条款）。<br>
　　       用户在本网站和APP的任何行为必须遵循：<br>
　　       (1) 传输资料时必须符合中国有关法规。<br>
　　       (2) 使用信息服务不作非法用途和不道德行为。<br>
　　       (3) 不干扰或混乱网络服务。<br>
　　       (4) 遵守所有使用服务的网络协议、规定、程序和惯例。用户的行为准则是以因特            网法规，政策、程序和惯例为根据的。</p>
	        <p>3、信息内容的所有权<br>
　　       本公司的信息内容包括：文字、软件、声音、相片、录象、图表；以及其它信息，            所有这些内容受版权、商标、标签和其它财产所有权法律的保护。<br>
　　       用户只能在授权下才能使用这些内容，而不能擅自复制、再造这些内容、或创造与            内容有关的派生产品。</p>
            <p>4、适用法律<br>
　　        上述条款将适用中华人民共和国的法律，所有的争端将诉诸于本网所在地的人民              法院。<br>
　　        如发生服务条款与中华人民共和国法律相抵触时，则这些条款将完全按法律规定             重新解释，而其它条款则依旧保持约束力。 </p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	      </div>
	    </div>
	  </div>
	</div>
	<script type="text/javascript" src="../static/js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
</body>
</html>