$def with (username,sex,email,phone,local)
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
  <title>基于BigFace身份认证的第三方应用</title>
  <meta charset="UTF-8">
  <meta name="Description" content="">
 </head>

 <body bgcolor="#009933">
  <center><h1>基于BigFace身份认证的第三方应用样例</h1></center>
  <br><br>
  <center><div id="" class="">
	<h2>姓名：$:username</h2><br>
	<h2>性别：$:sex</h2><br>
	<h2>邮箱：$:email</h2><br>
	<h2>手机：$:phone</h2><br>
	<h2>位置：$:local</h2>
  </center>
  <center>
  
  </center>
  </div>
 </body>
</html>
